In [1]:
from importlib import reload
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('./dracula.mplstyle')
import logging
LOG = logging.getLogger(__name__)
LOG.setLevel(logging.INFO)
LOG.info('Hello from notebook')

from pydataset import data

logging.getLogger('frankenfit').setLevel(logging.INFO)

In [2]:
import frankenfit as ff

In [3]:
import frankenfit.core as core
reload(core)

In [4]:
class AddFoo(core.StatelessTransform):
    def _apply(self, df_apply: pd.DataFrame, state: object = None) -> pd.DataFrame:
        return df_apply.assign(foo=1)

AddFoo().apply()

Empty DataFrame
Columns: [foo]
Index: []

In [5]:
import frankenfit.universal_transforms as ut
reload(ut)
dir(ut)

['Callable',
 'GroupByBindings',
 'Identity',
 'IfHyperparamIsTrue',
 'IfHyperparamLambda',
 'IfTrainingDataHasProperty',
 'LogMessage',
 'Optional',
 'Print',
 'StatefulLambda',
 'StatelessLambda',
 'StatelessTransform',
 'TextIO',
 'Transform',
 '_LOG',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'annotations',
 'define',
 'ffc',
 'inspect',
 'logging',
 'pd']

In [6]:
x = ut.IfHyperparamIsTrue(
    "do_add_foo",
    AddFoo(),
    otherwise=ut.Print("hello")
)
display(x.fit(bindings={"do_add_foo": True}).apply(pd.DataFrame({"bar":np.arange(10)})))
display(x.fit(bindings={"do_add_foo": False}).apply(pd.DataFrame({"bar":np.arange(10)})))

   bar  foo
0    0    1
1    1    1
2    2    1
3    3    1
4    4    1
5    5    1
6    6    1
7    7    1
8    8    1
9    9    1

hello

   bar
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9